<div class="container">
    <div class="columns is-centered">
        <table table class="table is-bordered is-centered">
            <tr>
                <td>{{game.cell_list[7].spaces[7]}}</td>
                <td>{{game.cell_list[7].spaces[8]}}</td>
                <td>{{game.cell_list[7].spaces[9]}}</td>
                <td>{{game.cell_list[8].spaces[7]}}</td>
                <td>{{game.cell_list[8].spaces[8]}}</td>
                <td>{{game.cell_list[8].spaces[9]}}</td>
                <td>{{game.cell_list[9].spaces[7]}}</td>
                <td>{{game.cell_list[9].spaces[8]}}</td>
                <td>{{game.cell_list[9].spaces[9]}}</td>
            </tr>
            <tr>
                <td>{{game.cell_list[7].spaces[4]}}</td>
                <td>{{game.cell_list[7].spaces[5]}}</td>
                <td>{{game.cell_list[7].spaces[6]}}</td>
                <td>{{game.cell_list[8].spaces[4]}}</td>
                <td>{{game.cell_list[8].spaces[5]}}</td>
                <td>{{game.cell_list[8].spaces[6]}}</td>
                <td>{{game.cell_list[9].spaces[4]}}</td>
                <td>{{game.cell_list[9].spaces[5]}}</td>
                <td>{{game.cell_list[9].spaces[6]}}</td>
            </tr>
            <tr>
                <td>{{game.cell_list[7].spaces[1]}}</td>
                <td>{{game.cell_list[7].spaces[2]}}</td>
                <td>{{game.cell_list[7].spaces[3]}}</td>
                <td>{{game.cell_list[8].spaces[1]}}</td>
                <td>{{game.cell_list[8].spaces[2]}}</td>
                <td>{{game.cell_list[8].spaces[3]}}</td>
                <td>{{game.cell_list[9].spaces[1]}}</td>
                <td>{{game.cell_list[9].spaces[2]}}</td>
                <td>{{game.cell_list[9].spaces[3]}}</td>
            </tr><tr>
                <td>{{game.cell_list[4].spaces[7]}}</td>
                <td>{{game.cell_list[4].spaces[8]}}</td>
                <td>{{game.cell_list[4].spaces[9]}}</td>
                <td>{{game.cell_list[5].spaces[7]}}</td>
                <td>{{game.cell_list[5].spaces[8]}}</td>
                <td>{{game.cell_list[5].spaces[9]}}</td>
                <td>{{game.cell_list[6].spaces[7]}}</td>
                <td>{{game.cell_list[6].spaces[8]}}</td>
                <td>{{game.cell_list[6].spaces[9]}}</td>
            </tr><tr>
                <td>{{game.cell_list[4].spaces[4]}}</td>
                <td>{{game.cell_list[4].spaces[5]}}</td>
                <td>{{game.cell_list[4].spaces[6]}}</td>
                <td>{{game.cell_list[5].spaces[4]}}</td>
                <td>{{game.cell_list[5].spaces[5]}}</td>
                <td>{{game.cell_list[5].spaces[6]}}</td>
                <td>{{game.cell_list[6].spaces[4]}}</td>
                <td>{{game.cell_list[6].spaces[5]}}</td>
                <td>{{game.cell_list[6].spaces[6]}}</td>
            </tr><tr>
                <td>{{game.cell_list[4].spaces[1]}}</td>
                <td>{{game.cell_list[4].spaces[2]}}</td>
                <td>{{game.cell_list[4].spaces[3]}}</td>
                <td>{{game.cell_list[5].spaces[1]}}</td>
                <td>{{game.cell_list[5].spaces[2]}}</td>
                <td>{{game.cell_list[5].spaces[3]}}</td>
                <td>{{game.cell_list[6].spaces[1]}}</td>
                <td>{{game.cell_list[6].spaces[2]}}</td>
                <td>{{game.cell_list[6].spaces[3]}}</td>
            </tr>
            <tr>
                <td>{{game.cell_list[1].spaces[7]}}</td>
                <td>{{game.cell_list[1].spaces[8]}}</td>
                <td>{{game.cell_list[1].spaces[9]}}</td>
                <td>{{game.cell_list[2].spaces[7]}}</td>
                <td>{{game.cell_list[2].spaces[8]}}</td>
                <td>{{game.cell_list[2].spaces[9]}}</td>
                <td>{{game.cell_list[3].spaces[7]}}</td>
                <td>{{game.cell_list[3].spaces[8]}}</td>
                <td>{{game.cell_list[3].spaces[9]}}</td>
            </tr>
            <tr>
                <td>{{game.cell_list[1].spaces[4]}}</td>
                <td>{{game.cell_list[1].spaces[5]}}</td>
                <td>{{game.cell_list[1].spaces[6]}}</td>
                <td>{{game.cell_list[2].spaces[4]}}</td>
                <td>{{game.cell_list[2].spaces[5]}}</td>
                <td>{{game.cell_list[2].spaces[6]}}</td>
                <td>{{game.cell_list[3].spaces[4]}}</td>
                <td>{{game.cell_list[3].spaces[5]}}</td>
                <td>{{game.cell_list[3].spaces[6]}}</td>
            </tr>
            <tr>
                <td>{{game.cell_list[1].spaces[1]}}</td>
                <td>{{game.cell_list[1].spaces[2]}}</td>
                <td>{{game.cell_list[1].spaces[3]}}</td>
                <td>{{game.cell_list[2].spaces[1]}}</td>
                <td>{{game.cell_list[2].spaces[2]}}</td>
                <td>{{game.cell_list[2].spaces[3]}}</td>
                <td>{{game.cell_list[3].spaces[1]}}</td>
                <td>{{game.cell_list[3].spaces[2]}}</td>
                <td>{{game.cell_list[3].spaces[3]}}</td>
            </tr>
        </table>
    </div>
</div>