<div class="container">
    <div class="columns is-centered">
        <table table class="table is-bordered is-centered">
            <tr>
                <td>{{game.cell_list[7].cells[7]}}</td>
                <td>{{game.cell_list[7].cells[8]}}</td>
                <td>{{game.cell_list[7].cells[9]}}</td>
                <td>{{game.cell_list[8].cells[7]}}</td>
                <td>{{game.cell_list[8].cells[8]}}</td>
                <td>{{game.cell_list[8].cells[9]}}</td>
                <td>{{game.cell_list[9].cells[7]}}</td>
                <td>{{game.cell_list[9].cells[8]}}</td>
                <td>{{game.cell_list[9].cells[9]}}</td>
            </tr>
            <tr>
                <td>{{game.cell_list[7].cells[4]}}</td>
                <td>{{game.cell_list[7].cells[5]}}</td>
                <td>{{game.cell_list[7].cells[6]}}</td>
                <td>{{game.cell_list[8].cells[4]}}</td>
                <td>{{game.cell_list[8].cells[5]}}</td>
                <td>{{game.cell_list[8].cells[6]}}</td>
                <td>{{game.cell_list[9].cells[4]}}</td>
                <td>{{game.cell_list[9].cells[5]}}</td>
                <td>{{game.cell_list[9].cells[6]}}</td>
            </tr>
            <tr>
                <td>{{game.cell_list[7].cells[1]}}</td>
                <td>{{game.cell_list[7].cells[2]}}</td>
                <td>{{game.cell_list[7].cells[3]}}</td>
                <td>{{game.cell_list[8].cells[1]}}</td>
                <td>{{game.cell_list[8].cells[2]}}</td>
                <td>{{game.cell_list[8].cells[3]}}</td>
                <td>{{game.cell_list[9].cells[1]}}</td>
                <td>{{game.cell_list[9].cells[2]}}</td>
                <td>{{game.cell_list[9].cells[3]}}</td>
            </tr><tr>
                <td>{{game.cell_list[4].cells[7]}}</td>
                <td>{{game.cell_list[4].cells[8]}}</td>
                <td>{{game.cell_list[4].cells[9]}}</td>
                <td>{{game.cell_list[5].cells[7]}}</td>
                <td>{{game.cell_list[5].cells[8]}}</td>
                <td>{{game.cell_list[5].cells[9]}}</td>
                <td>{{game.cell_list[6].cells[7]}}</td>
                <td>{{game.cell_list[6].cells[8]}}</td>
                <td>{{game.cell_list[6].cells[9]}}</td>
            </tr><tr>
                <td>{{game.cell_list[4].cells[4]}}</td>
                <td>{{game.cell_list[4].cells[5]}}</td>
                <td>{{game.cell_list[4].cells[6]}}</td>
                <td>{{game.cell_list[5].cells[4]}}</td>
                <td>{{game.cell_list[5].cells[5]}}</td>
                <td>{{game.cell_list[5].cells[6]}}</td>
                <td>{{game.cell_list[6].cells[4]}}</td>
                <td>{{game.cell_list[6].cells[5]}}</td>
                <td>{{game.cell_list[6].cells[6]}}</td>
            </tr><tr>
                <td>{{game.cell_list[4].cells[1]}}</td>
                <td>{{game.cell_list[4].cells[2]}}</td>
                <td>{{game.cell_list[4].cells[3]}}</td>
                <td>{{game.cell_list[5].cells[1]}}</td>
                <td>{{game.cell_list[5].cells[2]}}</td>
                <td>{{game.cell_list[5].cells[3]}}</td>
                <td>{{game.cell_list[6].cells[1]}}</td>
                <td>{{game.cell_list[6].cells[2]}}</td>
                <td>{{game.cell_list[6].cells[3]}}</td>
            </tr>
            <tr>
                <td>{{game.cell_list[1].cells[7]}}</td>
                <td>{{game.cell_list[1].cells[8]}}</td>
                <td>{{game.cell_list[1].cells[9]}}</td>
                <td>{{game.cell_list[2].cells[7]}}</td>
                <td>{{game.cell_list[2].cells[8]}}</td>
                <td>{{game.cell_list[2].cells[9]}}</td>
                <td>{{game.cell_list[3].cells[7]}}</td>
                <td>{{game.cell_list[3].cells[8]}}</td>
                <td>{{game.cell_list[3].cells[9]}}</td>
            </tr>
            <tr>
                <td>{{game.cell_list[1].cells[4]}}</td>
                <td>{{game.cell_list[1].cells[5]}}</td>
                <td>{{game.cell_list[1].cells[6]}}</td>
                <td>{{game.cell_list[2].cells[4]}}</td>
                <td>{{game.cell_list[2].cells[5]}}</td>
                <td>{{game.cell_list[2].cells[6]}}</td>
                <td>{{game.cell_list[3].cells[4]}}</td>
                <td>{{game.cell_list[3].cells[5]}}</td>
                <td>{{game.cell_list[3].cells[6]}}</td>
            </tr>
            <tr>
                <td>{{game.cell_list[1].cells[1]}}</td>
                <td>{{game.cell_list[1].cells[2]}}</td>
                <td>{{game.cell_list[1].cells[3]}}</td>
                <td>{{game.cell_list[2].cells[1]}}</td>
                <td>{{game.cell_list[2].cells[2]}}</td>
                <td>{{game.cell_list[2].cells[3]}}</td>
                <td>{{game.cell_list[3].cells[1]}}</td>
                <td>{{game.cell_list[3].cells[2]}}</td>
                <td>{{game.cell_list[3].cells[3]}}</td>
            </tr>
        </table>
    </div>
</div>