<div class="container">
    <div class="columns is-centered">
        <table table class="table is-bordered is-centered">
            <tr>
                <td>{{game.cell.cells[7]}}</td>
                <td>{{game.cell.cells[8]}}</td>
                <td>{{game.cell.cells[9]}}</td>
            </tr>
            <tr>
                <td>{{game.cell.cells[4]}}</td>
                <td>{{game.cell.cells[5]}}</td>
                <td>{{game.cell.cells[6]}}</td>
            </tr>
            <tr>
                <td>{{game.cell.cells[1]}}</td>
                <td>{{game.cell.cells[2]}}</td>
                <td>{{game.cell.cells[3]}}</td>
            </tr>
        </table>
    </div>
</div>
