% zavihki = [
% "domov",
% "igre",
% "pravila",
% "statistika",
% ]
% oznaka_zavihka = {
% "domov":"Domača stran",
% "igre": "Igre",
% "pravila": "Pravila",
% "statistika": "Statistika",
% }
% ikona_zavihka = {
% "domov": "fas fa-home",
% "igre": "fas fa-gamepad",
% "pravila": "fas fa-question",
% "statistika": "fas fa-chart-line",
% }
% naslov_zavihka = {
% "domov": "Domača stran",
% "igre": "Igre",
% "pravila": "Pravila",
% "statistika": "Statistika",
% }
% podnaslov_zavihka = {
% "domov": "Dobrodošli v TIC-TAC-TOE!",
% "igre": "Tu lahko izberete, katero različico križcev in krožcev želite igrati.",
% "pravila": "Kako igramo naše najljubše igre?",
% "statistika": "Nekaj podatkov o odigranih igrah.",
% }

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    % if defined("izbrani_zavihek"):
    <title>TIC-TAC-TOE – {{oznaka_zavihka[izbrani_zavihek]}}</title>
    % else:
    <title>TIC-TAC-TOE</title>
    % end
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="icon" href="https://cdn2.iconfinder.com/data/icons/font-awesome/1792/th-512.png">
</head>

<body>
    <nav class="navbar is-link">
        <div class="container">
            <div class="navbar-brand">
                <span class="navbar-item">
                    <span class="icon is-medium">
                        <i class="fas fa-th fa-lg"></i>
                    </span>
                    <b>TIC-TAC-TOE</b>
                </span>
            </div>
            <div class="navbar-start">
                % if defined("izbrani_zavihek"):
                % for zavihek in zavihki:
                % if zavihek == izbrani_zavihek:
                <a class="navbar-item is-active" href="/{{zavihek}}/">
                    % else:
                    <a class="navbar-item" href="/{{zavihek}}/">
                        % end
                        <span class="icon is-medium">
                            <i class="{{ikona_zavihka[zavihek]}} fa-lg"></i>
                        </span>
                        <span>{{oznaka_zavihka[zavihek]}}</span>
                    </a>
                    % end
                    % end
            </div>
            <div class="navbar-end">
                <a class="navbar-item" href="https://github.com/benoucakar/Ultimate-TicTacToe">
                    <span class="icon is-medium">
                        <i class="fab fa-github fa-lg"></i>
                    </span>
                    <span>GitHub</span>
                </a>
            </div>
        </div>
    </nav>
    <section class="section">
        % if defined("izbrani_zavihek") and prikaz_naslova == True:
        % for zavihek in zavihki:
        % if zavihek == izbrani_zavihek:
        <div class="tile is-ancestor">
            <div class="tile is-parent is-8 is-shady">
                <article class="tile is-child notification is-white">
                    <h1 class="title is-1">{{naslov_zavihka[zavihek]}}</h1>
                    <p class="subtitle has-text-weight-semibold">
                        {{podnaslov_zavihka[zavihek]}}
                    </p>
                </article>
            </div>
        </div>
        % end
        % end
        % end
        {{!base}}
    </section>
</body>

</html>