% rebase('base.html', izbrani_zavihek='domov', prikaz_naslova = True)

<article class="tile is-child notification is-link">
    <div class="content">
        <div class="box">
            <p class="has-text-justified has-text-black is-size-5 has-text-weight-semibold">
                <i class="fas fa-gamepad"></i>
                Spletna stran TIC-TAC-TOE omogoča igranje običajne in ultimativne različice križcev in krožcev
                proti računalniku ali s soigralcem.
            </p>
            <p class="has-text-justified has-text-black is-size-5 has-text-weight-semibold">
                <i class="fas fa-question"></i>
                Najdete lahko pravila za igranje obeh različic igre.
            </p>
            <p class="has-text-justified has-text-black is-size-5 has-text-weight-semibold">
                <i class="fas fa-chart-line"></i>
                Na voljo je tudi nekaj statističnih podatkov o preteklih igrah in dosežkih igralcev.
            </p>
        </div>
        <div class="box">
            <p class="has-text-justified has-text-black is-size-5 has-text-weight-semibold">
                Spletna stran TIC-TAC-TOE je projektna naloga za predmet Uvod v programiranje.
            </p>
        </div>
    </div>
</article>