% rebase('base.html', izbrani_zavihek='igre')

<div class="tile is-ancestor">
    <div class="tile is-parent is-8 is-shady">
        <article class="tile is-child notification is-white">
            <h1 class="title is-1">Igre</h1>
            <p class="subtitle">Tu si lahko izberete, katero različico križcev in krožcev želite igrati.</p>
        </article>
    </div>
</div>

<section class="container">
    <div class="columns features">
        <a class="column is-3" href="/igre/vanila_1/">
            <div class="card is-shady has-background-link">
                <div class="card-image">
                    <figure class="image is-square">
                        <img src="https://miro.medium.com/max/1000/1*mIjIjWIUc45MQjLDVkOC-w.png" alt="Običajni križci in krožci.">
                      </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h2 class="title is-2 has-text-white"></i>Navadni<br> križci in krožci </h2>
                        <p class="subtitle is-2 has-text-white"><i class="fas fa-user"></i> Enoigralski način</p>
                    </div>
                </div>
            </div>
        </a>
        <a class="column is-3" href="/igre/vanila_2/">
            <div class="card is-shady has-background-link">
                <div class="card-image">
                    <figure class="image is-square">
                        <img src="https://miro.medium.com/max/1000/1*mIjIjWIUc45MQjLDVkOC-w.png" alt="Običajni križci in krožci.">
                      </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h2 class="title is-2 has-text-white"></i>Navadni<br> križci in krožci </h2>
                        <p class="subtitle is-2 has-text-white"><i class="fas fa-user-friends"></i> Dvoigralski način</p>
                    </div>
                </div>
            </div>
        </a>
        <a class="column is-3" href="/igre/ultimate_1/">
            <div class="card is-shady has-background-link">
                <div class="card-image">
                    <figure class="image is-square">
                        <img src="https://www.pngitem.com/pimgs/m/179-1795464_ultimate-tic-tac-toe-printable-hd-png-download.png" alt="Ultimativni križci in krožci.">
                      </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h2 class="title is-2 has-text-white">Ultimativni<br> križci in krožci </h2>
                        <p class="subtitle is-2 has-text-white"><i class="fas fa-user"></i> Enoigralski način</p>
                    </div>
                </div>
            </div>
        </a>
        <a class="column is-3" href="/igre/ultimate_2/">
            <div class="card is-shady has-background-link">
                <div class="card-image">
                    <figure class="image is-square">
                        <img src="https://www.pngitem.com/pimgs/m/179-1795464_ultimate-tic-tac-toe-printable-hd-png-download.png" alt="Ultimativni križci in krožci.">
                      </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h2 class="title is-2 has-text-white">Ultimativni<br> križci in krožci </h2>
                        <p class="subtitle is-2 has-text-white"><i class="fas fa-user-friends"></i> Dvoigralski način</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
</section>