% rebase('base.html', izbrani_zavihek='pravila')

<article class="tile is-child notification is-link">
    <div class="content">
        <div class="box">
            <p class="title has-text-black">Običajni križci in krožci
                <a class="button" href="https://en.wikipedia.org/wiki/Tic-tac-toe">
                    <span class="icon is-medium has-text-black">
                        <i class="fab fa-wikipedia-w fa-lg"></i>
                    </span>
                    <span class="has-text-black">Wikipedija</span>
                </a>
            </p>
            <p class="has-text-justified has-text-black is-size-5 has-text-weight-semibold">
                Dva igralca, eden s križcem <b>X</b>, drugi s krožcem <b>O</b>, izmenično polnita polje velikosti <b>3 x 3</b>.
                Cilj je dobiti tri svoje znake v vrstico, stolpec ali po diagonali. Prvi igralec, ki mu to uspe, je zmagovalec.
                Če je polje polno in noben igralec nima svojih treh znakov v vrsti, je igra neodločena.
            </p>
        </div>
        <div class="box">
            <p class="title has-text-black">Ultimativni križci in krožci
                <a class="button" href="https://en.wikipedia.org/wiki/Ultimate_tic-tac-toe">
                    <span class="icon is-medium has-text-black">
                        <i class="fab fa-wikipedia-w fa-lg"></i>
                    </span>
                    <span class="has-text-black">Wikipedija</span>
                </a>
            </p>
            <p class="has-text-justified has-text-black is-size-5 has-text-weight-semibold">
                Tudi tu tekmujeta dva igralca, eden s križci <b>X</b> in drugi s krožci <b>O</b>.
                Polje velikosti <b>9 x 9</b> je razdeljeno na <b>9</b> celic in vsaka celica na <b>9</b> polj.
                Tokrat prvi igralec najprej izbere poljubno celico in v tej celici poljubno polje.
                Drugi igralec mora nato izbrati polje v celici, ki sovpada s poljem, ki ga je prej izbral nasprotnik.
                Ko nekdo dobi tri v vrsto v neki celici, se celica šteje kot križec ali krožec v velikem polju.
                Če je bila celica neodločena, se nikomur ne šteje v prid. 
                Cilj igre je dobiti tri zmagane celice v vrsto, stolpec ali po diagonali.
                Če se zgodi, da te nasprotnik pošlje na celico, ki je že zaključena,
                lahko greš v poljubno celico in v tej celici v poljubno polje.
            </p>
            <p class="has-text-justified has-text-black is-size-5 has-text-weight-semibold">
                Obstaja več pravil za igranje ultimativnih križcev in krožcev.
                V tej različici velja, da ko je celica rešena, ni več mogoče nasprotnika poslati v to celico,
                temveč lahko gre tedaj na poljubno polje.
                S temi pravili je igra ultimativnih križcev in krožcev s stališča teorije iger še nerešena.
            </p>
        </div>
    </div>
</article>