% rebase('base.html', izbrani_zavihek='statistika', prikaz_naslova = True)

<article class="tile is-child notification is-link">
    <div class="content">
        <section class="is-centered">
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <article class="tile is-child box has-text-black">
                        <p class="title">Število zaključenih iger:</p>
                        <b class="is-size-1">{{data_manager.ended_games}}</b>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box has-text-black">
                        <p class="title">Zmage proti računalniku:</p>
                        <b class="is-size-1">{{data_manager.player_beat_bot}}</b>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box has-text-black">
                        <p class="title">Število neodločenih iger:</p>
                        <b class="is-size-1">{{data_manager.ended_draw}}</b>
                    </article>
                </div>
            </div>
            <div class="tile is-ancestor">
                <div class="tile is-parent is-1">
                    <article class="tile is-child box has-text-centered has-text-black">
                        <b class="is-size-1">X</b>
                    </article>
                </div>
                <div class="tile is-parent is-10">
                    <article class="tile is-child box has-text-black">
                        <p class="title">Razmerje med križci in krožci:</p>
                        <progress class="progress is-link" value="{{data_manager.player_win_X}}"
                            max="{{data_manager.player_win_X + data_manager.player_win_O}}"></progress>
                    </article>
                </div>
                <div class="tile is-parent is-1">
                    <article class="tile is-child box has-text-centered has-text-black">
                        <b class="is-size-1">O</b>
                    </article>
                </div>
            </div>
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <article class="tile is-child box has-text-black">
                        <p class="title">Običajni križci in krožci<br>Enoigralski način</p>
                        <b class="is-size-1">{{data_manager.ended_V1}}</b>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box has-text-black">
                        <p class="title">Običajni križci in krožci<br>Dvoigralski način</p>
                        <b class="is-size-1">{{data_manager.ended_V2}}</b>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box has-text-black">
                        <p class="title">Ultimativni križci in krožci<br>Enoigralski način</p>
                        <b class="is-size-1">{{data_manager.ended_U1}}</b>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box has-text-black">
                        <p class="title">Ultimativni križci in krožci<br>Dvoigralski način</p>
                        <b class="is-size-1">{{data_manager.ended_U2}}</b>
                    </article>
                </div>
            </div>
        </section>
    </div>
</article>