% rebase("base.html", izbrani_zavihek="igre") 
 
% if game.state == "P":

<h1>Dobrodošli v obicajni igri križcev in krožcev za dve osebi</h1>
<p>Prosim izberite, znak prvega igralca.</p>
<form action="/igre/vanila_2/" method="post">
    <input type="radio" id="X" name="player_mark" value="X" required>
    <label for="X">X</label><br>
    <input type="radio" id="O" name="player_mark" value="O" required>
    <label for="O">O</label><br>
    <button type="submit">Pa začnimo!</button>
</form>

% elif game.state == "M":

<h1>Tu je dejanska igra.</h1>
<h1>{{game.turn}} je na potezi.</h1>
% include("_prikaz_vanila.html", game=game)
<form action="/igre/vanila_2/" method="post">
    %for i in range(1,10):
    <input type="radio" id="i" name="inp_space" value={{i}} required>
    <label for="i">{{i}}</label><br>
    %end
    <button type="submit">Ugibaj</button>
</form>

% elif game.state == "E":

<h1>Igre je konec.</h1>
% include("_prikaz_vanila.html", game=game)
% if game.cell.check_win():
<h1>Čestitke {{game.cell.sign_switch(game.turn)}}</h1>
% else:
<h1>Igra je neodločena.</h1>
% end
<form action="/igre/vanila_2/" method="post">
    <button type="submit">Zaključi z igro</button>
</form>

% end