% rebase("base.html", izbrani_zavihek="igre", prikaz_naslova = False)

% if game.state == "P":
<div class="column is-12 is-offset-one-quarter">
    <div class="tile is-ancestor">
        <div class="tile is-6 is-vertical is-parent">
            <div class="tile is-child box">
                <h1 class="title has-text-centered">Dobrodošli v obicajni igri križcev in krožcev za eno osebo</h1>
            </div>
            <div class="tile is-child box">
                <div class="content is-large">
                    <form action="/igre/vanila_1/" method="post">
                        <p class="subtitle is-size-4 has-text-centered">Prosim izberite znak prvega igralca:</p>
                        <table class="table">
                            <tr>
                                <td>
                                    <div>
                                        <p class="has-text-centered">
                                            <label for="X"><b>X</b></label>
                                            <input type="radio" id="X" name="player_mark" value="X" required>
                                        </p>
                                    </div>
                                </td>
                                <td>
                                    <p class="has-text-centered">
                                        <label for="O"><b>O</b></label>
                                        <input type="radio" id="O" name="player_mark" value="O" required>
                                    </p>
                                </td>
                            </tr>
                        </table>
                        <p class="subtitle is-size-4 has-text-centered">Želite biti prvi ali ne?</p>
                        <table class="table">
                            <tr>
                                <td>
                                    <div>
                                        <p class="has-text-centered">
                                            <label for="y"><b>Da</b></label>
                                            <input type="radio" id="y" name="player_turn" value="1" required>
                                        </p>
                                    </div>
                                </td>
                                <td>
                                    <p class="has-text-centered">
                                        <label for="n"><b>Ne</b></label>
                                        <input type="radio" id="n" name="player_turn" value="" required>
                                    </p>
                                </td>
                            </tr>
                        </table>
                        <p class="subtitle is-size-4 has-text-centered">Izberite težavnostno stopnjo:</p>
                        <table class="table">
                            <tr>
                                <td>
                                    <div>
                                        <p class="has-text-centered">
                                            <label for="1"><b>Lahko</b></label>
                                            <input type="radio" id="1" name="difficulty" value="1" required>
                                        </p>
                                    </div>
                                </td>
                                <td>
                                    <p class="has-text-centered">
                                        <label for="2"><b>Težko</b></label>
                                        <input type="radio" id="2" name="difficulty" value="2" required>
                                    </p>
                                </td>
                                <td>
                                    <div>
                                        <p class="has-text-centered">
                                            <label for="3"><b>Zelo težko</b></label>
                                            <input type="radio" id="3" name="difficulty" value="3" required>
                                        </p>
                                    </div>
                                </td>
                                <td>
                                    <p class="has-text-centered">
                                        <label for="4"><b>Nemogoče</b></label>
                                        <input type="radio" id="4" name="difficulty" value="4" required>
                                    </p>
                                </td>
                            </tr>
                        </table>
                        <div class="buttons is-centered">
                            <button type="submit" class="button is-link is-medium">Pa začnimo!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
% elif game.state == "M":
<div class="tile is-ancestor">
    <div class="tile is-4 is-vertical is-parent">
        <div class="tile is-child box">
            <h1 class="title has-text-centered">{{game.current_mark}} je na potezi</h1>
        </div>
        <div class="tile is-child box">
            % include("_tipkovnica.html", output="inp_space", adress="/igre/vanila_1/")
        </div>
    </div>
    <div class="tile is-8 is-parent">
        <div class="tile is-child box">
            % include("_prikaz_vanila.html", game=game)
        </div>
    </div>
</div>
% elif game.state == "E":
<div class="tile is-ancestor">
    <div class="tile is-4 is-vertical is-parent">
        <div class="tile is-child box">
            <h1 class="title has-text-centered">Igre je konec</h1>
        </div>
        <div class="tile is-child box">
            % if game.cell.check_win() and not game.player_turn:
            <h1 class="title has-text-centered">Čestitke {{game.player_mark}}!</h1>
            % elif game.cell.check_win() and game.player_turn:
            <h1 class="title has-text-centered">Žal ste izgubili, več sreče prihodnjič</h1>
            % else:
            <h1 class="title has-text-centered">Igra je neodločena</h1>
            % end
            <form action="/igre/vanila_1/" method="post">
                <div class="buttons is-centered">
                    <button type="submit" class="button is-link is-medium">Zaključi z igro</button>
                </div>
            </form>
        </div>
    </div>
    <div class="tile is-8 is-parent">
        <div class="tile is-child box">
            % include("_prikaz_vanila.html", game=game)
        </div>
    </div>
</div>
% end